/**/coverage
/**/node_modules
/**/dist
/**/.next

.DS_Store

**/.yarn
**/.next
**/.env
**/.env.local

**/.eslintcache

.git
.gitignore
.git
.husky
.nvmrc

**/*.log

.idea/
.vscode/

.dockerignore
**/Dockerfile
docker-compose.yml

commitlint.config.js

README.md
